.aside-nav-container {
    width: 100%;
}

.aside-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid #ddd;
    position: fixed;
    background-color: #fff;
    justify-content: space-between;
}



.custom-icon {
    font-size: 23px; 
    padding: 0 10px;
}


.aside-nav-tittle {
    font-size: 32px;
    padding: 2rem;
}


.aside-nav-ul {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.aside-nav-ul .aside-nav-li {
    padding: 1rem;
    width: 100%;
}

.aside-nav-li:hover {
    background-color: #F2F2F2;
    border-radius: 10px;
    cursor: pointer;
}

.aside-nav-li:hover .custom-icon {
    transform: scale(1.1);
}

.aside-nav-ul .aside-nav-li a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.aside-nav-user-img{
    display: flex;
}

.aside-nav-user-img img {
    width: 32px;
    height: 32px;
    padding: 0 10px;    
    border-radius: 50%;
}


@media screen and (max-width: 977px) {
   
   
    
    .aside-nav {
        
        display: none;
    }
}