
.main-box {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.right-aside-p {
    margin: 1rem;
}


@media screen and (max-width: 977px) {
   
    .post {
      
        margin-top: 5rem;
    }

    .right-aside {
        display: none;
    }
   
}