

.post-card-container {
    width: 100%;
    padding: 2rem;
}

.post-card {
    display: flex;
    width: 470px;
    flex-direction: column;
}

.post-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.post-user {
    display: flex;
}

.user-data-tittle {
    text-decoration: none;
    color: #000;
}

.user-img {
    padding: .4rem;
}

.user-img img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-body {
    width: 100%;
}

.post-body img {
    width: 100%;
    height: 587px;
}

.post-footer-top {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.footer-top-social-icons a {
    padding: .2rem;
}

.post-footer-bottom{
    display: flex;
    flex-direction: column;
}

.post-footer-bottom p {
    font-size: 12px;
}

.post-link {
    font-size: 14px;
    margin: .5rem 0 ;
}

.post-span {
    font-size: 10px;
}