
.profile-link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    
}

.profile-link-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 1rem;
}

.profile-link-user{
    display: flex;
}

.profile-link-user-data {
    display: flex;
    flex-direction: column;
}

.profile-link-follow {
    display: flex;
    align-items: center;
}

.profile-link-secondary {
    color: #BABABA;
}

.profile-link-follow a {
    color: #1877F2;
    text-decoration: none;
    padding: 1rem 2rem;
}